/Solucion_Codigo/Problema-1_CapituloLibro/nbproject/private/
/Solucion_Codigo/Problema-1_CapituloLibro/build/
/Solucion_Codigo/Problema-2_AlquilerPelicula/nbproject/private/
/Solucion_Codigo/Problema-3_EnvioMensajes/nbproject/private/
/Solucion_Codigo/Problema-2_AlquilerPelicula/build/
/Solucion_Codigo/Problema-3_EnvioMensajes/build/
/Solucion_Codigo/Problema-4_NominaTrabajadores/nbproject/private/
/Solucion_Codigo/Problema-4_NominaTrabajadores/build/
/Solucion_Codigo/Problema-5_EntradasTeatro/nbproject/private/
/Solucion_Codigo/Problema-5_EntradasTeatro/build/
/Solucion_Codigo/Problema-6_Banco/nbproject/private/
/Solucion_Codigo/Problema-6_Banco/build/
